body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(laptop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
    color: rgb(213, 228, 99);
}

p {
    color: #fbfbfb;
}

/* Header style  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 197, 69);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(238, 216, 24, 0.497);

}

.navmenu {
    list-style: none;
    display: flex;
    /* align-items: center; */
    gap: 20px;
    
}

.navmenu li a {
    text-decoration: none;
    color: rgb(16, 16, 36);
    font-weight: bold;
    transition: color 0.3s ease;
}

.navmenu li a:hover {
    color: #ff5a5f;
    /* Change color on hover */
    animation: big;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    border: 1px solid #39a8e8;
    border-radius: 20px;
}

.top{
    text-shadow:2px 2px 12px white;
    border-radius: 10px;
    
    margin: 0;
    transition: 0.3s;
    font-size: 25px;
    background-image: url(rfggsa_8.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(83, 83, 20);
}

.top p{
    margin: 0;
    font-size: medium;
}

.top:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgb(242, 219, 11);

}

.container{
    padding: 50px 20px;
    background-color: transparent;
    max-width: 400px;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #d7f297;
    border-radius: 20px;
    transition: 0.3s;
    backdrop-filter: blur(2px);
    box-shadow: 0 5px 10px rgba(238, 216, 24, 0.497);
}

.container:hover{
    transform: translateY(-3px);
}

input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
}

input:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgb(242, 219, 11);
}

label{
    color: rgb(242, 219, 11);
    text-shadow: 1px 1px 5px rgba(238, 216, 24, 0.497);
}

.submit{
    /* padding: 10px; */
    width: 250px;
    margin: 5px auto;
    padding: 10px;
    transition: 0.3s;
    background-color: rgb(55, 55, 227);
}

.submit:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 40px rgb(242, 219, 11) inset;
}

#about{
    border-radius: 10px;
    width: 90%;
}


/* Contact Section */
.contact {
    padding: 1px 1px;
    background-color: rgb(226, 197, 69);
    text-align: center;
    /* margin: 10px auto; */
    
    
}

.contact p {
    color: rgb(69, 12, 12);
}

.contact h1 {
    color: black;

}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
    color: black;

}

.end-text{
    
    text-align: center;
    padding: 10px;
    background-color:rgb(92, 86, 61) ;
    color: #666;
}

@keyframes uptodown {
    from{
        transform: translateY(-100px);
    }

    to{
        transform: translateY(0);

    }
}



.top{
    animation: uptodown;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in ;


}

.top-text{
    animation: uptodown;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in ;

}

@keyframes width {
    from{
        width: 0;
    }

    to{
        width: 90%;

    }
}

input{
    animation: width;
    animation-duration: 1s;
    animation-delay: 0.5s;

}

@keyframes lefttoright {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0);

    }
}

.navmenu{
    animation: lefttoright;
    animation-duration: 1.5s;
    animation-delay: 0.7s;

}

@keyframes big {
    from{
        padding:  8px;
    }

    to{
        padding: 10px;
    }
}


